/* TODO: viewport width dependent zooming */

html {
	zoom: 1.0; 
	-moz-transform: scale(1.1); 
	-moz-transform-origin: 0 0;
}

/* global font replacement */

@font-face {
	font-family: 'Barlow Semi Condensed'; font-style: normal; font-weight: 400; font-display: swap; src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'), url(https://fonts.gstatic.com/s/barlowsemicondensed/v5/wlpvgxjLBV1hqnzfr-F8sEYMB0Yybp0mudRXeIqqKkkogw.woff2) format('woff2');   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#app, body {
	font-family: 'Barlow Semi Condensed', sans-serif;
}

@font-face {
	font-family: "Material Design Icons";
	src: url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.7.95/fonts/materialdesignicons-webfont.eot");
	src: url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.7.95/fonts/materialdesignicons-webfont.eot?#iefix&v=2.8.94") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.7.95/fonts/materialdesignicons-webfont.woff2") format("woff2"), url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.7.95/fonts/materialdesignicons-webfont.woff") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.7.95/fonts/materialdesignicons-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	unicode-range: U+F000-FFFF;
}

/* fix blue highlight on hover and click */

.vue-slider {
	padding: 0px 0px 5px 0px !important;
}

.tile { 
	text-shadow: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	margin-left:1px;
}

.dashName {
	font-size: 25px;
	text-shadow: none;
	color: black;
	margin-left:10px ;
}

.tile-secondary {
	display: none;
}

.tile-contents {
	margin-top: 0px !important;
	padding: 0px 4px;
	height: calc(100% - 30px) !important;
}

.tile-title {
	position: relative;
	left: auto;
	right: auto;
	padding: 7px 0px 0px 0px;
}

.dashBack {
	text-shadow: none;
	color: black;
	padding-left: 5px;
}

.he-logo-mark:before {
	font-size: 40px;
}

.tile-tertiary {
	padding: 5px;
	text-align: left;
	position: absolute;
	left: 8px;
	bottom: 5px;
	font-size: 85%;
	top: auto;
	right: auto;
}

/* tile icon replacement */

.he-fire_alarm_clear:before,
.he-fire1:before,
.he-water_wet:before,
.he-water_dry:before,
.he-garage_closed:before,
.he-garage_open:before,
.he-garage_closing:before,
.he-garage_opening:before,
.he-hour-glass:before,
.he-motion-sensor:before,
.he-motion_detector_3:before,
.he-motion_detector_3_filled:before,
.he-dimmer_low:before,
.he-dimmer_medium:before,
.he-switch_2:before,
.he-switch_2_flipped:before,
.he-window_1:before,
.he-window_2:before,
.he-door_open:before,
.he-door_closed:before {
	font-family: "Material Design Icons" !important;
}

.he-fire_alarm_clear:before {
	content: "\F392";
}

.he-fire1:before {
	content: "\F238";
}

.he-water_wet:before {
	content: "\F58C";
}

.he-water_dry:before {
	content: "\F58D";
}

.he-garage_closed:before{
	content: "\F6D8";
	font-size: 120%;
}

.he-garage_open:before {
	content: "\F6D9";
	font-size: 120%;
}

.he-garage_closing:before,
.he-garage_opening:before {
	font-size: 120%;
	content: "\F871";
}

.he-hour-glass:before {
	content: "\F1D8";
}

.he-motion_detector_3:before,
.he-motion_detector_3_filled:before,
.he-motion-sensor:before {
	content: "\FD6D";
}

.he-switch_2:before,
.he-dimmer_low:before {
	content: "\FA18";
}

.he-switch_2_flipped:before,
.he-dimmer_medium:before {
	content: "\F521";
}

.he-dimmer_low:before,
.he-dimmer_medium:before {
	margin-top: -5px;
}

.he-window_1:before {
	content: "\F5AE";
}

.he-window_2:before {
	content: "\F5B1";
}

.he-door_open:before {
	content: "\F81B";
}

.he-door_closed:before {
	content: "\F819";
}

/* specific tile layout corrections */

.text-tile {
	height: 50%;
	background: none !important;
	color: black;
	padding: 0;
	margin: 0;
}

.tile.date-clock {
	border: 2px solid white;
}

.tile.date-clock .tile-primary {
	font-weight:bold;
	color: white;
}

.tile.date-clock .tile-primary div {
	font-size: 80% !important;
	font-weight: normal;
	padding-left: 10px;
}

.tile.date-clock .tile-contents {
	margin-top: 0px;
	height: calc(100% - 15px) !important;
}

.tile.date-clock small {
	margin-left: 3px;
}

.tile.dashboard {
	background-color: transparent;
}

.tile.dashboard .tile-edit {
	bottom: auto;
	top: 5px;
}

.tile.dashboard .tile-title {
	display: none;
}

.tile.dashboard .tile-primary {
	height: auto;
	display: block;
	color: black;
}

.tile.dashboard .tile-primary::before {
	font-family: "Material Design Icons" !important;
	content: "\F56E";
}

.tile.dashboard .tile-contents {
margin-top: 0px;
}

.tile.thermostat {

}

.tile.thermostat .inline-block {

}

.tile.thermostat .absolute.bottom-0 {
	padding-bottom: 5px;
	top: 10px;
	left: 17px;
	text-align: left;
	width: auto;
}

.tile.thermostat .w-full.my-1 {
	position:absolute;
	bottom: 0;
}

.tile.thermostat>div>div .cooling.w-full,
.tile.thermostat .heating.pt-1 {
	padding: 0px 10px 20px;
}

.tile.thermostat .cooling .inline-block,
.tile.thermostat .heating .inline-block {
	font-size: 25px;
	vertical-align: super;
}

.tile.thermostat .cooling .inline-block br,
.tile.thermostat .heating .inline-block br {
	content: " ";
	padding: 5px;
}

.he-shades_open:before,
.he-shades_opening:before,
.he-shades_partially_open:before,
.he-shades_closing:before,
.he-shades_closed:before {
	font-size: 80%;
}

.tile.shades .tile-primary .material-icons {
	margin-top: -5px;
	display: none;
}

.tile.shades .dimmer {
	margin-top: 6px;
}

.tile.image img {
	object-fit: cover;
}

/* UI tweaks */

.tile-contents {
	margin-top: 15px;
	height: calc(100% - 20px);
	width: calc(100%);
}

/* DEVELOPMENT shift Options and Add Tile overlay to the right */
/*
.popup-container {
	right: 0;
	width: 50%;
}

.popup-container.inset-0 {
	right: 0;
	width: 100%;
}

.popup-container .menu {
	margin-right: 20px;
}
*/

/* fix mobile overscroll */

.dashboard div .header {
	padding: 0 0 0 15px;
	margin: 10px 10px 10px 0;
}

/* fix mobile overscroll */
.wrapper {
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 15px;
	width: calc(100%);
}

.tile-edit {
	top: auto;
	bottom: 10px;
	opacity: .3;
}

.tile-primary {
	padding-bottom: calc(10%);
}
